@media only screen and (max-width: 1400px) {



    .background {
        width: 86%;
        height: 100vh; 
        scale: 1.15;
        margin-left: 7%;
    }
    
    .homeButtons {
        display: flex;
        gap: 5%;
        margin-top: 95%;
        margin-left: 17%;
    }



    .proteciton-intro {
        margin-bottom: 5%;
    }

    .protection-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%; /* Adjust the gap between the cards as needed */
    }
    

    .card1, .card2, .card3, .card4 {
        height: 100%; /* Adjust the height as needed */
        width: 70%;
        background: #121212;
        border-radius: .5rem;
        position: relative;
        margin-left: 12.5%;
    }

    .card1 p, .card2 p, .card3 p, .card4 p {
        margin-top: 1%;
        margin-bottom: -5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .card1 h2, .card2 h2, .card3 h2, .card4 h2 {
        margin-top: 10%;
        margin-bottom: -10%;
    }

    .stats-modules {
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%; /* Adjust the gap between the cards as needed */
        margin-top: 20%;
    
    }
    
    .meta-img img{
        height: 60%;
        width: 80%;
        margin-top: 55%;
        margin-left: 25%;
    }
    
    .stats-text {
        margin-top: 55%;
        width: 50%;
        justify-content: center;
    }
    
    .stats-text h2 {
        text-align: center;
        font-size: 300%;
        margin-bottom: 10%;
    }

    .card5 h3 {
        font-size: 150%;
        margin-top: 13%;
    }




    .card6 {
        height: 70%;
        width: 65%;
        background-color: #0b0b0b;
        margin-left: 10%;
    }
    
    .card6 img {
        height: 100%;
        width: 100%;
    }
    
    .premium-modules {
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%; /* Adjust the gap between the cards as needed */
        margin-top: 20%;
        margin-bottom: 15%;
    }
    
    
    .premium-text h2 {
        margin-left: 20%;
        margin-top: 15%;
        font-size: 200%;
        color: rgb(255, 191, 0);
    }
    
    .premium-text p {
        margin-left: 24%;
        margin-top: 5%;
        font-size: 110%;
        color: rgb(255, 235, 174);
    }

      
    .introduction {
        background-color: rgb(22, 22, 22);
        border-left: 25px solid rgba(0, 4, 255, 0.27);
        border-radius: 3%;
        padding: 3%;
        margin-left: 0%;
    }
    
    .introduction h2 {
        padding-bottom: 10%;
    }

    .introduction p {
        color: rgb(197, 197, 197);
        font-size: 15px;
    }
    
    .team-img img {
        width: 70%;
        height: 50%;
        margin-left: 25%;
        margin-top: 40%;
    }


    .team-members {
        padding-top: 15%;
    }
    
    .team {
        border-left: 30px solid rgba(140, 0, 255, 0.597);
        border-right: 30px solid rgba(140, 0, 255, 0.597);
        border-radius: 1%;
        width: 70%;
        margin-left: 10.5%;
        color: white;
        font-family: sans-serif;
        background-color: rgba(113, 43, 226, 0.127);
        padding: 3%;
        margin-bottom: 5%;
    }
    
    .teambox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%; /* Adjust the gap between the cards as needed */
    }
    
    .teambox h2 {
        margin-left: 5%;
        color: rgb(167, 45, 255);
    }
    
    .teambox p {
        margin-left: 10%;
        padding-top: 4%;
    }
    
    
    #frosty img {
        margin-left: 30%;
        margin-top: 20%;
        border: 5px solid rgba(93, 0, 255, 0.386);
        border-radius: 3%;
    }
    
    
    #dankly img {
        margin-left: 30%;
        margin-top: 20%;
        border: 5px solid rgba(93, 0, 255, 0.386);
        border-radius: 3%;
    }
    

    
    #bapo img {
        margin-left: 30%;
        margin-top: 20%;
        border: 5px solid rgba(93, 0, 255, 0.386);
        border-radius: 3%;
    }
    

    #randy img {
        margin-left: 30%;
        margin-top: 20%;
        border: 5px solid rgba(93, 0, 255, 0.386);
        border-radius: 3%;
    }
    


    

    .selection {
        background-image: url('../images/MetaWebBanner.png');
        background-size: 300%;
        background-repeat: no-repeat;
        color: white;
        font-family: sans-serif;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%; /* Adjust the gap between the cards as needed */
        justify-content: center;
        text-align: center;
        padding-bottom: 34%;
    }

    .selectionbox1 {
        background-color: rgb(20, 20, 20);
        justify-content: center;
        text-align: center;
        width: 60%;
        margin-left: 30%;
        margin-top: 10%;
        padding: 2%;
    }
    
    .selectionbox2 {
        background-color: rgb(20, 20, 20);
        justify-content: center;
        text-align: center;
        width: 60%;
        margin-left: 10%;
        margin-top: 10%;
        padding: 2%;
    }
    
    .selectionbox1, .selectionbox2 {
        font-size: 105%;
        border-radius: 3%;
        margin-bottom: 5%;
    }

    
}


@media only screen and (max-width: 850px) {


    .background{
        width: 86%;
        height: 100dvh; 
        scale: 1.15;
    }
    
    .homeButtons {
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-top: 190%;
        margin-left: 2%;
    }

    .hBtn1 {
        font-size: 30px;
    }



    .proteciton-intro {
        font-size: 130%;
        margin-bottom: 20%;
    }

    .protection-container {
        display: block; /* Change to block for mobile view */
    }

    .card1, .card2, .card3, .card4 {
        height: 100%;
        width: 70%;
        background: #121212;
        border-radius: .5rem;
        position: relative;
        margin-left: 12.5%;
        margin-top: 10%;
        padding: 3%;
    }

    .card1 p, .card2 p, .card3 p, .card4 p {
        margin-top:-4%;
        padding: 10%;
    }

    .card1 h2, .card2 h2, .card3 h2, .card4 h2 {
        margin-top: 3%;
        padding: 1%;
    }

    .stats-modules {
        margin-bottom: 50%;
    }

    .meta-img img{
        height:50%;
        width: 70%;
        margin-top: 75%;
        margin-left: 30%;
    }
    
    .stats-text {
        margin-top: 55%;
        margin-left: 10%;
        width: 80%;
        justify-content: center;

    }
    
    .stats-text h2 {
        text-align: center;
        font-size: 200%;
        margin-bottom: 10%;
    }

    .card5 h3 {
        font-size: 115%;
        margin-top: 7%;
    }


    .card6 {
        height: 40%;
        width: 60%;
        background-color: #0b0b0b;
        margin-left: 20%;
        margin-top: 50%;
    }
    
    .card6 img {
        height: 100%;
        width: 100%;
    }
    
    .premium-modules {
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%; /* Adjust the gap between the cards as needed */
        margin-top: 20%;
        margin-bottom: 15%;
    }
    
    
    .premium-text h2 {
        margin-left: 15%;
        margin-top: 15%;
        font-size: 120%;
        color: rgb(255, 191, 0);
    }
    
    .premium-text p {
        margin-left: 20%;
        margin-top: 5%;
        font-size: 80%;
        color: rgb(255, 235, 174);
    }


    .introduction {
        background-color: rgb(22, 22, 22);
        border-left: 25px solid rgba(0, 4, 255, 0.27);
        border-radius: 3%;
        padding: 3%;
        margin-left: 0%;
    }
    
    .introduction h2 {
        padding-bottom: 10%;
    }

    .introduction p {
        color: rgb(197, 197, 197);
        font-size: 15px;
    }

    .team-intro {
        color: white;
        font-family: sans-serif;
        margin: 5%;
        display: block;
    }
    
    .team-img img {
        width: 0%;
        height: 0%;
        margin-left: 25%;
        margin-top: 20%;
    }


    .team-members {
        padding-top: 15%;
    }
    
    .team {
        border-left: 10px solid rgba(140, 0, 255, 0.597);
        border-right: 10px solid rgba(140, 0, 255, 0.597);
        border-radius: 1%;
        width: 70%;
        margin-left: 10.5%;
        color: white;
        font-family: sans-serif;
        background-color: rgba(113, 43, 226, 0.127);
        padding: 3%;
        margin-bottom: 5%;
    }
    
    .teambox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%; /* Adjust the gap between the cards as needed */
    }
    
    .teambox h2 {
        margin-left: 5%;
        color: rgb(167, 45, 255);
        font-size: 110%;
    }
    
    .teambox p {
        margin-left: 10%;
        padding-top: 4%;
        font-size: 80%;
    }
    
    
    #frosty img {
        margin-left: 0%;
        margin-top: 70%;
        border: 5px solid rgba(93, 0, 255, 0.386);
        border-radius: 3%;
    }
    
    
    #dankly img {
        margin-left: 0%;
        margin-top: 70%;
        border: 5px solid rgba(93, 0, 255, 0.386);
        border-radius: 3%;
    }
    

    
    #bapo img {
        margin-left: 0%;
        margin-top: 70%;
        border: 5px solid rgba(93, 0, 255, 0.386);
        border-radius: 3%;
    }
    

    #randy img {
        margin-left: 0%;
        margin-top: 70%;
        border: 5px solid rgba(93, 0, 255, 0.386);
        border-radius: 3%;
    }

    .selection {
        background-image: url('../images/MetaWebBanner.png');
        background-size: 300%;
        background-repeat: no-repeat;
        color: white;
        font-family: sans-serif;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%; /* Adjust the gap between the cards as needed */
        justify-content: center;
        text-align: center;
        padding-bottom: 34%;
    }


    .selectionbox1 {
        background-color: rgb(20, 20, 20);
        justify-content: center;
        text-align: center;
        width: 60%;
        margin-left: 30%;
        margin-top: 10%;
        padding: 2%;
    }
    
    .selectionbox2 {
        background-color: rgb(20, 20, 20);
        justify-content: center;
        text-align: center;
        width: 60%;
        margin-left: 10%;
        margin-top: 10%;
        padding: 2%;
    }
    
    .selectionbox1, .selectionbox2 {
        font-size: 90%;
        border-radius: 3%;
        margin-bottom: 5%;
    }

    .footer-modules {
        background-color: #040404;
        color: white;
        font-family: sans-serif;
        justify-content: center;
        padding-bottom: 2%;
    }

    
    .tulp h3{
        font-size: 100%;
        padding-bottom: 5%;
    }
    
    .tulp a{
        font-size: 70%;
        text-decoration: none;
        color: rgb(199, 199, 199);
    }
    
    .cc a {
        font-size: 70%;
        text-decoration: none;
        color: rgb(199, 199, 199);
    }

}
