@media only screen and (max-width: 1400px) {

    .meta-wiki-introduction-WIKI h2{
        font-size: 450%;
        padding-left: 15%;
        padding-top: 1%;
    }
    .meta-wiki-introduction-WIKI img{
        width: 20%;
        height: 90%;
    }
    .box1, .box2 {
        height: 90%;
    }
    .box1 p, .box2 p{
        font-size: 90%;
    }
    

    
    .meta-wiki-introduction img {
        width: 40%;
        height: 80%;
        margin-left:7%;
        padding: 2%;
        margin-top: 5%;
    }
    
    .intro-text {
        margin-top: 5%;
        margin-left: -40%; 
        margin-right: 5%;
    }
    
    .sp-100, .sp-200 {
        background-color: rgba(0, 0, 255, 0.227);
        border: solid 3px blue;
        color: white;
        font-size: 120%;
        padding: .8%;
        margin-top: 2%;
        border-radius: 10px;
        font-family: sans-serif;
        margin-bottom: 2%;
    }
    
    .container {
        background-color: rgba(42, 42, 42, 0.263);
        border-right: solid 15px rgb(30, 30, 30);
        border-left: solid 15px rgb(30, 30, 30);
        border-radius: 1%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%; /* Adjust the gap between the cards as needed */
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 16.5%;
    }
    
    
    .heading-s {
        margin-bottom: 3%;
        font-size: 100%;
        border: solid 5px blue;
        width: 45%;
        padding: .5%;
        background-color: rgba(0, 0, 255, 0.112);
        border-radius: 10px;
        text-align: center;
    }
    
    
    .helpbox-img img {
        border: solid 3px blue;
        border-radius: 5px;
        width: 100%;
        margin: 4%;
        height: 60%;
        width: 75%;
        margin-left: 15%;
        margin-top: 15%;
    }
    
    .cmd {
        margin-top: 4%;
        background-color: rgba(0, 60, 255, 0.17);
        padding: 1%;
        border-radius: 15px;
        width: 80%;
        padding-left: 2%;
    }
    
    .intro-cmd {
        margin-top: 3%;
        margin-left: 1%;
        padding-left: 2%;
        font-size: 90%;
    }
    
    .intro-s {
        font-size: 90%;
        padding-left: 2%;
    }

    
}


@media only screen and (max-width: 850px) {

    .meta-wiki-introduction-WIKI h2{
        font-size: 250%;
        padding-left: 15%;
        padding-top: 1%;
    }
    .meta-wiki-introduction-WIKI img{
        width: 20%;
        height: 90%;
    }


    .meta-wiki-introduction img {
        width: 40%;
        height: 40%;
        margin-left:7%;
        padding: 2%;
        margin-top: 5%;
    }
    
    .intro-text {
        margin-top: 5%;
        margin-left: -40%; 
        margin-right: 5%;
        font-size: 80%;
    }
    
    .sp-100, .sp-200 {
        background-color: rgba(0, 0, 255, 0.227);
        border: solid 3px blue;
        color: white;
        font-size: 120%;
        padding: 2%;
        margin-top: 3%;
        border-radius: 10px;
        font-family: sans-serif;
        margin-bottom: 3%;
    }

    .sp-200{
        margin-left: 20%;
    }
    
    .container {
        background-color: rgba(42, 42, 42, 0.263);
        border-right: solid 25px rgb(30, 30, 30);
        border-left: solid 25px rgb(30, 30, 30);
        border-radius: 1%;
        display: block;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 47%;
    }
    
    
    .heading-s {
        margin-bottom: 6%;
        margin-top: 3%;
        font-size: 80%;
        border: solid 5px blue;
        width: 60%;
        padding: 1%;
        background-color: rgba(0, 0, 255, 0.112);
        border-radius: 10px;
        text-align: center;
    }

    .intro-s {
        font-size: 70%;
        padding-left: 2%;
    }
    
    
    .helpbox-img img {
        opacity: 0%;
        width: 0%;
        height: 0%;
        margin:0
    }
    
    .cmd {
        margin-top: 10%;
        background-color: rgba(0, 60, 255, 0.17);
        padding: 1%;
        border-radius: 15px;
        width: 80%;
        padding-left: 3%;
        font-size: 70%;
    }
    
    .intro-cmd {
        margin-top: 3%;
        margin-left: 1%;
        padding-left: 2%;
        font-size: 90%;
    }

    .score {
        font-size: 90%;
    }

}
