.container a {
    text-decoration: none;
    color: rgb(0, 110, 255);
}

.container a:hover {
    text-decoration: none;
    color: rgb(41, 91, 255);
    }

.meta-wiki-introduction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%; /* Adjust the gap between the cards as needed */
    color: white;
    font-family: sans-serif;
    background-color: rgba(0, 0, 255, 0.119);
}

.meta-wiki-introduction img {
    width: 20%;
    height: 80%;
    margin-left:7%;
    padding: 2%;
    margin-top: 1%;
}

.intro-text {
    margin-top: 5%;
    margin-left: -70%; 
}


.sp-100, .sp-200 {
    background-color: rgba(0, 0, 255, 0.227);
    border: solid 3px blue;
    color: white;
    font-size: 120%;
    padding: .4%;
    margin-top: 1%;
    border-radius: 10px;
    font-family: sans-serif;
    margin-bottom: 1%;
}

.sp-200 {
    margin-left: 2%;
}

.sp-100:hover, .sp-200:hover {
    background-color: rgba(0, 0, 255, 0.507);
    border: solid 3px blue;
    color: white;

}



@media only screen and (max-width: 980px) {

        
    .meta-wiki-introduction {
        display: grid;
        color: white;
        font-family: sans-serif;
        background-color: rgba(0, 0, 255, 0.119);
    }
    
    .meta-wiki-introduction img {
        margin: 0;
        width: 0%;
        height: 0%;
    }
    
    .intro-text {
        font-size: 15px;
        margin-left: -100%;
        padding: 50px;
    }


    .sp-100, .sp-200 {
        background-color: rgba(0, 0, 255, 0.227);
        border: solid 5px blue;
        color: white;
        font-size: 50px;
        padding: 1%;
        margin-top: 5%;
        border-radius: 10px;
        font-family: sans-serif;
        margin-bottom: 1%;
    }
    
    .sp-200 {
        margin-left: 6%;
    }
    
    .sp-100:hover, .sp-200:hover {
        background-color: rgba(0, 0, 255, 0.507);
        border: solid 3px blue;
        color: white;
    
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {

    .intro-text {
        margin-left: -45%;
    }

    .meta-wiki-introduction {
        display: grid;
        color: white;
        font-family: sans-serif;
        background-color: rgba(0, 0, 255, 0.119);
    }
    
    .meta-wiki-introduction img {
        margin-top: 3%;
        margin-left: 1%;
        width: 45%;
        height: 80%;
    }

}

.container {
    background-color: rgba(42, 42, 42, 0.263);
    border-right: solid 25px rgb(30, 30, 30);
    border-left: solid 25px rgb(30, 30, 30);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%; 
    margin-top: 10% 5% 15% 5%;
}


.heading-s {
    margin-bottom: 1%;
    font-size: 100%;
    border: solid 5px blue;
    width: 25%;
    padding: .5%;
    background-color: rgba(0, 0, 255, 0.112);
    border-radius: 10px;
    text-align: center;
}

.helpbox {
    margin: 1%;
    padding: 2%;
    color: white;
    font-family: sans-serif;

}


.helpbox-img img {
    border: solid 3px blue;
    border-radius: 5px;
}


@media only screen and (max-width: 980px) {

    .container {
        background-color: rgba(42, 42, 42, 0.263);
        border-right: solid 25px rgb(30, 30, 30);
        border-left: solid 25px rgb(30, 30, 30);
        border-radius: 5px;
        display: inline-block;

        margin-top: 10% 5% 15% 5%;
    }    
    
    .heading-s {
        margin-bottom: 1%;
        font-size: 40px;
        border: solid 5px blue;
        width: 97.5%;
        padding: .5%;
        background-color: rgba(0, 0, 255, 0.112);
        border-radius: 10px;
        text-align: center;
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  
    
    .heading-s {
        width: 40%;
    }

}

.cmd {
    margin-top: 2%;
    background-color: rgba(0, 60, 255, 0.17);
    padding: 1%;
    border-radius: 15px;
    width: 75%;
    padding-left: 2%;
    font-size: 90%;
}

.intro-cmd {
    margin-top: 2%;
    margin-left: 1%;
    padding-left: 2%;
}

.intro-s {
    padding-left: 1%;
}


@media only screen and (max-width: 980px) {

    .cmd {
        margin-top: 2%;
        background-color: rgba(0, 60, 255, 0.17);
        padding: 1%;
        border-radius: 15px;
        width: 97.5%;
        padding-left: 2%;
        font-size: 30px;
    }
    
    .intro-cmd {
        margin-top: 2%;
        margin-left: 1%;
        padding-left: 2%;
        font-size: 15px;
    }
    
    .intro-s {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        font-size: 13px;
    }  

}

.mythic-effect {
    border-left: 7px solid rgba(233, 0, 254, 0.682);
    background-color: rgba(247, 0, 255, 0.182);
    margin-top: 5%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1%;
}

.mythic-effect h2 {
    margin-bottom: 2%;
    font-size: 130%;
}

.mythic-effect p {
    font-size: 90%;
}

.permission-res {
    border-left: 7px solid rgba(254, 178, 0, 0.682);
    background-color: rgba(255, 174, 0, 0.182);
    margin-top: 5%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1%;
}

.permission-res h2 {
    margin-bottom: 2%;
    font-size: 130%;
}

.permission-res {
    font-size: 90%;
}

.modification-box {
    border-left: 7px solid rgba(26, 120, 0, 0.682);
    background-color: rgba(0, 255, 21, 0.182);
    margin-top: 5%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1%;
}

.modification-box h2 {
    margin-bottom: 2%;
    font-size: 130%;
}

.modification-box {
    font-size: 90%;
}

#purple {
    color: rgb(183, 58, 183);
}
#aqua {
    color: aqua;
}
#lightblue {
    color: rgb(58, 143, 254);
}
#red {
    color: rgb(254, 78, 58);
}
#green {
    color: rgb(8, 142, 8);
}

#purplebox {
    border-left: 7px solid rgba(129, 0, 134, 0.682);
    background-color: rgba(195, 0, 255, 0.088);
    margin-top: 5%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1%;
}

#purplebox h2{
    margin-bottom: 2%;
    font-size: 130%;
}

#purplebox p{
    font-size: 90%;
}

#greenbox {
    border-left: 7px solid rgba(0, 134, 9, 0.682);
    background-color: rgba(0, 255, 30, 0.088);
    margin-top: 5%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1%;
}

#greenbox h2{
    margin-bottom: 2%;
    font-size: 130%;
}

#greenbox p{
    font-size: 90%;
}

#aquabox {
    border-left: 7px solid rgba(0, 173, 173, 0.682);
    background-color: rgba(0, 255, 255, 0.088);
    margin-top: 5%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1%;
}

#aquabox h2{
    margin-bottom: 2%;
    font-size: 130%;
}

#aquabox p{
    font-size: 90%;
}

#lightbluebox {
    border-left: 7px solid rgba(0, 145, 255, 0.682);
    background-color: rgba(0, 200, 255, 0.088);
    margin-top: 5%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1%;
}

#lightbluebox h2{
    margin-bottom: 2%;
    font-size: 130%;
}

#lightbluebox p{
    font-size: 90%;
}

#outagebox {
    border-left: 7px solid rgba(241, 31, 98, 0.682);
    background-color: rgba(255, 0, 51, 0.088);
    margin-top: 5%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1%;
}

#outagebox h2{
    margin-bottom: 2%;
    font-size: 130%;
}

#outagebox p{
    font-size: 90%;
}

.info-box {
    border-left: 7px solid rgba(31, 42, 241, 0.682);
    background-color: rgba(0, 13, 255, 0.088);
    margin-top: 5%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1%;
}

.info-box h2{
    margin-bottom: 2%;
    font-size: 130%;
}

.info-box p{
    font-size: 90%;
}

#point {
    border-bottom: solid 2px blue;
    padding: 1px;
    color: aquamarine;
    background-color: rgba(127, 255, 212, 0.077);
    font-size: 70%;
}

.dng {
    text-decoration: none;
    color: rgb(255, 133, 139);
    border-bottom: 3px solid rgba(255, 102, 0, 0.13);
}

.prem {
    text-decoration: none;
    color: rgb(0, 187, 255);
    border-bottom: 3px solid rgba(0, 17, 255, 0.223);
}

#metaplus {
    border: 3px solid rgb(0, 94, 255);
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 80%;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.237);
    text-align: center;
}


